.Body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #b3b3b3;
    height: 6vh;
}

.Person {
    width: 25%;
    padding-left: 10px;
}

.Fav {
    width: 25%;
}

.Bell {
    width: 25%;
}

.Home {
    width: 25%;
}