body {
  margin: 0;
  padding: 0;
  font-family: 'MyFont';
  font-size: 1em;
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/iranyekanweblight.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}